.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.title-section h1 {
  margin-bottom: 0.2em;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gutter-left-icons {
  display: flex;
}

.gutter-right-icons {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.images-1, .images-2 {
  letter-spacing: -3px;
}

.index-card {
  background-image: url('list-bg.png');
  align-items: center;
  background-repeat: no-repeat;
  background-size:auto;
  width: 100%;
  background-position:fixed;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* font-size: 1.3rem; */
  font-family: Bradley Hand itc;
  font-weight: bold;
  /* color: rgb(80, 48, 21); */
  line-height: 1em;
  min-width: 2000em;
}
